PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/collaborative-editor
CLIENT_URL=http://localhost:5173
FIREBASE_PROJECT_ID=text-editor-1921d
FIREBASE_CLIENT_EMAIL=your-service-account-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
